html {
  background: url("https://cdn.pixabay.com/photo/2017/01/18/21/49/singapore-1990959_1280.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  font-family: "Nobile", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: whitesmoke;
}
main {
  flex: 1 0 auto;
}

@media (max-width: 1200px) {
  .headshot {
    height: 40%;
    width: 20%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}
@media (min-width: 800px) {
  .headshot {
    height: 40%;
    width: 20%;
    display: block;
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}

@media (max-width: 568px) {
  .headshot {
    height: 35%;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}

@media (max-width: 620px) {
  .headshot {
    height: 40%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(90deg);
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}

@media (min-width: 720px) {
  .headshot {
    height: 50%;
    width: 30%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 5%;
  }
}

@media (min-width: 750px) {
  .headshot {
    height: 50%;
    width: 30%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}
@media (min-width: 800px) {
  .headshot {
    height: 50%;
    width: 20%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}

@media (max-width: 812px) {
  .headshot {
    width: 30%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
  }
  .headshot-text {
    margin-top: 2%;
  }
}

@media (min-width: 900px) {
  .headshot {
    width: 18%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .headshot-text {
    margin-top: 3%;
  }
}

.copyright-stuff {
  text-align: center;
}

.title-text {
  text-align: center;
  color: whitesmoke;
}

.title-title {
  text-align: center;
  color: whitesmoke;
}

.bottom-footer {
  bottom: 0%;
}

.middle-div {
  float: right;
}

.logo {
  height: 8%;
  width: 8%;
}
.logo-1 {
  height: 75%;
  width: 75%;
}
.logo-2 {
  height: 100%;
  width: 110%;
}
.about-me {
  margin-top: 5%;
  text-align: center;
  opacity: 1;
}
.row {
  margin-top: 2.5%;
}
.page-footer-contact {
  bottom: 0%;
  position: absolute;
  width: 100%;
}

.github-link {
  margin-top: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}
.separator-proj {
  margin-top: 5%;
  background-color: black;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.carousel {
  padding-left: 8%;
  padding-right: 8%;
  width: 50%;
  padding: 20%;
  margin-bottom: 5%;
}

.carousel-stuff {
  height: 100%;
  width: 100%;
  /* margin-left: 5%; */
  margin-right: 5%;
}
.particles-js-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.name-text {
  margin-left: 1%;
}
